/* 
  I chose the colors yellow and red because they both are bright and intense which is why they
  bring out such strong feelings which is what I wanted to happen. Yellow represnts happiness 
  and hope but can also be a sign of caution which is something I wanted to be prevalent which is
  why it is my backgroun color. Red is associated with courage, sacrifice and being brave which is
  why I used it for my text and a different deeper red for Headings. Both Yellow and red are colors
  that are used to express something and I wanted to use these colors because I thought that those 
  colors represent Indigenous peoples and what thy've gone through while still being resilient. 
  I used sans serif font because it is modern, clean, and is easier to read. In the beginning I was
  creating a website for people around my age and I wanted a font type that is modern but trustworthy 
  and sans serif font can be used for multiple different purposes.  
*/

/* line height was used to set the distance between lines of text throught my html page */
* {
  line-height: 140%;
}

/*  
  This styles everything inside the body tag to have a background color of #f4f3e4
  text color to #2e0404. Changed the font to arial and if that doesn't work helvetica 
  with sans-serif font. Have the size of font be relative to the size of the root element
  have the distance of each letter away from eachother to be set at 0.1 rem and word spacing be 
  the default normal 
*/
body {
  background-color: #f4f3e4; /* I use a really light yellow for my background image */
  color: #2e0404;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  word-spacing: normal;
  /* 
    this code is copied from mr.hardmans class when we were learing
    about transitions and animations all i did was change the numbers 
    slightley and add auto prefixers,
    the opacity is set to 0 which means you can not see the website pages
    translate positions an element vertically on the by -100px
    a fade in animation  fades objects, in and out, over a time, the duration
    will be o,7s ease in out willslow down the animation at the end for 0.6 s
    and the direction will be forwardsfrom the viewer
 */
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  -o-animation: fade-in 0.7s ease-in-out 0.6s forwards;
  -moz-animation: fade-in 0.7s ease-in-out 0.6s forwards;
  -webkit-animation: fade-in 0.7s ease-in-out 0.6s forwards;
  animation: fade-in 0.7s ease-in 0.6s forwards;
}
/*  
  keyframes controls the steps in a this animation
  in the begining it will not be seen
  it will be positioned on the y axis by -100px
  */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  /* 
    then it will transform to be seeb by setting opacity to 1 
    then it will be 0 on the y axis at the end
    */
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/*  
  have it so that my all my h1 tag is centered has a text size of 4.9 rem 
  and the color of to be changed to #600202.
*/
h1 {
  text-align: center;
  font-size: 4.9rem;
  color: #600202;
}
/*  
  to have all my h2 tags have text to be centered and a text size of 3.9rem with 
  the text color as #600202
*/
h2 {
  text-align: center;
  font-size: 3.9rem;
  color: #600202;
}
/* 
  have it so that all tags with h3 will 15px's of space on the top of the element
  the text will be centered and a text size of 2.9 rem  with the text color as #600202
 */
h3 {
  padding-top: 15px;
  text-align: center;
  font-size: 2.9rem;
  color: #600202;
}
/*  so that all my paragraph tags have their text centered */
p {
  text-align: center;
}
/* 
  Got help from Mr. Coppens,
  makes it so that other elements
  dont float on both left and right
  sides to prevent overlapping of
  other elements 
  
*/
footer {
  clear: both;
}
/* 
  sets my root element to 62.5% which converts to 10px on most browsers to make the 
  rem calculations easier to convert 
*/
html {
  font-size: 62.5%;
}
/* 
  code from https://www.w3docs.com/snippets/css/how-to-vertically-align-text-next-to-an-image.html,
  used this so all other elements that are its children will align beside it in rows or columns
  align items  makes it so that all the children will align themselves in the center of the parent
  and justfy-content distributes the space between the content and around along the row to the center
*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
  styles the class navbar to have a sticky position which means it will 
  scroll with the page untill it hits the top and then stop scrolling to stay visible
  having a postion of top zero will make it so that its at the very top of the page
 */
.navbar {
  position: sticky;
  top: 0;
}
/*
  this styles the anchors in my nav tag so that when a mouse is over it or is being pressed by 
  the tab key the background color will change to #2e0404 and font color to #f4f3e4
*/
nav a:hover,
nav a:focus {
  background-color: #2e0404;
  color: #f4f3e4;
}
/* all anchors will have a font color of this specific one */
a {
  color: #2e0404;
}
/* 
  this styles the items in my list inside the nav to have no 
  style and be shown and a padding of zero on all sides
*/
nav ul {
  list-style: none;
  padding: 0;
}
/* 
  this styles the list in my nav to have 5px of margin on the top and bottom while none 
  on the left and right and making the lists to be displayed as an inline block so they 
  can be put beside eachother 
*/
nav li {
  margin: 5px 15px;
  display: inline-block;
}
/* 
  this styles all anchors in my nav tag to have no line underneath be siplayed as an inhline block
  so the links can be beside eachother padding of 17px on the top and bottom and 25px on the left and 
  right for space inside the element and a different background color 
*/
nav a {
  text-decoration: none;
  display: inline-block;
  padding: 17px 25px;
  background-color: #e5e4d2;
}
/* 
  this styles the element with an class of .land-rights to have the text be bolded change the 
  font style to itlaticed  padding on all four sides to create space inside the element and margin
  on all four sides as well to create space around the element with a font size of 1.6rem
*/
.land-rights {
  font-weight: bold;
  font-style: italic;
  font-size: 1.6rem;
  padding: 15px 95px 20px 95px;
  margin: 10px 20px 90px 20px;
}
/* 
  styles the lists in my sources for webpage section,
  I have made it so that my list items dont have a list
  type and have set the width to be 80%
 */
.sources-for-webpage li {
  list-style: none;
  width: 80%;
}
/* 
  this styles the class of sources-for-webpage to be displayed as an in-line block so the items
  only take up as much space as they need with space for other things,changes the position relative 
  to its fixed position move to the left 50%, repositions the element horizontally be -50% the radius of
  the image border to be 50px with of the section to be 90% and a greyish background color
 */
.sources-for-webpage {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50px;
  width: 90%;
  background-color: #d7d7ca;
}
/* 
  this styles the element with all the anchors in the class of sources-for-webpage
  to be displayed as an inline width 100% of the anchors margin 5% on the left and right
  have the text be bolded and align the anchors to the middle/center 
*/
.sources-for-webpage a {
  display: inline-block;
  width: 100%;
  margin: 0 5%;
  font-weight: bold;
  text-align: center;
}
/* 
  this styles all elements with the class of image-style 
  to hve their initial size be 40%, round my corners by
  85px, and have 40px of space on the bottom of the element 
*/
.image-style {
  flex-basis: 40%;
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  border-radius: 85px;
  margin-bottom: 40px;
}
/*
  this styles all elements with the class of 
  text-for-section to have a different background
  color space on the top to be 90px and 155px on 
  the bottom the width of the element to be 450px 
  and 300px high using overflow:flow will make it 
  so that all text that is over the constrants of 
  the container to be covered by a scrol feature 
  so that you can scroll down to see the rest of 
  the text 
  */
.text-for-section {
  background-color: #eae9dc;
  margin-top: 90px;
  margin-bottom: 155px;
  padding: 10px 15px 0px 15px;
  width: 450px;
  height: 300px;
  overflow: scroll;
}
